<div id='about-container'>
<h3>About</h3>
  <section>
    Louis Cole is an American multi-instrumentalist and singer-songwriter, best
  known as the co-founder of the electronic/avant-pop/jazz-funk duo Knower. He
  is also a solo artist and has released six solo albums: Louis Cole (2010),
  Album 2 (2011), Time (2018), Live Sesh (2019), LIVE 2019 (2020), and Quality
  Over Opinion (2022). It is speculated that he is a member of the avant-garde
  musical duo Clown Core. 

  </section>  
  <section>
    He was born in Los
  Angeles to a family with musical roots. His father plays jazz piano,
  while his mother played bass. Cole started drumming when he was 8. He
  graduated in Jazz Studies at USC Thornton School of Music in 2009.
  </section>
</div>