
<div id="landing-page">
    <h3>Welcome to our Louis Cole fan page</h3>
    <div id="btns-container">
        <button class="btn btn-primary" onclick="window.location.href = '/home'">HOME</button>
        <button class="btn btn-primary" onclick="window.location.href = '/about'">ABOUT</button>
        <button class="btn btn-primary" onclick="window.location.href = '/works'">WORKS</button>
    </div>
</div>
