<div id='works-container'>
  <h3>Discography</h3>
  <div class='works-panel'>
    <section>
      <h4>Solo albums</h4>
      <ul>
        <li>Louis Cole (2010) </li>
        <li> Album 2 (2011)</li>
        <li>Time (2018)</li>
        <li>Live Sesh (2019)</li>
        <li>LIVE 2019 (2020) </li>
        <li>Quality Over Opinion (2022)</li>
      </ul>
    </section>

    <section>
      <h4>With Knower</h4>
      <ul>
        <li>Louis Cole and Genevieve Artadi (2010)</li>
        <li>Think Thoughts (2011)</li>
        <li>Let Go (2013)</li>
        <li>Life (2016)</li>
      </ul>
    </section>
  </div>

  <div class="works-panel">

    <section>
      <h4>Purportedly with Clown Core</h4>
      <ul>
        <li>Clown Core (2010)</li>
        <li>Toilet (2018)</li>
        <li>Van (2020)</li>
        <li>1234 (EP; 2021)</li>

      </ul>
    </section>

    <section>
      <h4>As a guest</h4>
      <ul>

        <li>7 by Seal (2015) </li>
        <li>Family Dinner – Volume 2 by Snarky Puppy (2016)</li>
        <li>Drunk by Thundercat (2017)</li>
        <li>WILKES by Sam Wilkes (2018)</li>
        <li>Hill Climber by Vulfpeck (2018)</li>
        <li>It Is What It Is by Thundercat (2020)</li>
      </ul>
    </section>
  </div>
</div>