
body{
    height: 100vh;
    overflow: hidden;
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb79cb92608893a3a21d32a439");
    background-repeat: repeat;
    color: antiquewhite;
 
}

nav {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#landing-page{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}

#landing-page button{
    font-size: 1.5rem;
    margin: 2vw;
}
#about-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.800;
    padding: 5vh 25vw;
    font-size: 1.3rem;
}

#about-container h3{
    padding-bottom: 15vh;
}

#about-container section {
    padding-bottom: 5vh}

#works-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    opacity: 0.800;
    padding-left: 5%;
}

.works-panel{
    display: flex;
    width: 100vw;

}

.works-panel section{
    display: flex;
    width: 50vw;
}